// Base colors
$white: #ffffff;
$isabelline: #EEEDED;
$spanish-gray: #989797;
$coral: #eacb31 ;
$buff: #f1dd7b;
$vanilla: #f5e7a1;
$flame: #e4572e;
$light-red-ochre: #e87554;
$pastel-pink: #f2b2a0;
$shiny-shamrock: #4ca866;
$turquoise-green: #9dcfab;
$pastel-gray: #bddfc7;
$blue-de-france: #3c91e6;
$blue-jeans: #5fa5ea;
$jordy-blue: #82b9ef;
$black: #000000;
$outer-space: #454545;
$quick-silver: #a2a2a2;


// Font families
$roboto: 'Roboto', sans-serif;
$pt-mono: 'PT Mono', monospace;

//Font sizes
$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;

//Margen para textos
$whitespace-margin: 3rem;

